body > table{
    width: 80%;
}
label{
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
}

table.list{
    width:100%;
    color: rgb(34, 35, 43);
    font-weight: lighter;
}

th{
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    background-color: white;
    border: none;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

input[type=submit]{
    width: 30%;
    background-color: #47e0c7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
}



a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
.container{
    padding: 2em;
    width: 50vw;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:invalid {
    color: #FF0000;
    border-color: #FF0000;
  }
  
input[type=email]:valid {
    color: #00D1B2;
  }
  
input[type=submit]:hover {
    background-color: #00c487;

  }
  
input[type=submit]:active {
    background-color: #00B89C;
  }
